Repository SalahAdDin/react-ts-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix, stylelint --aei --color

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --write", "eslint --fix"],
  "*.css": ["prettier --check --write", "stylelint --aei --color"],
  "*.json": ["prettier --check --write"]
}

chore: :memo: Updating changelog.
  CHANGELOG.md
Due: none

chore: :heavy_plus_sign: bringing back tanstack/router.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: :heavy_plus_sign: Semantic Release automation.
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :heavy_minus_sign: removing conventional-changelog in favour of semantic-version.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: :green_heart: repository url.
  .releaserc.json
  package.json
Due: prettier --check --write

chore: :construction_worker: Adding Github Action for releasing.
  .github/workflows/release.yml
Due: none

fix: 💚 action branches.
  .github/workflows/release.yml
Due: none

fix: 💚 Action workflow.
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: :rotating_light: Fixing commit lint conflicts with semantic-release.
  .releaserc.json
  commitlint.config.cts
Due: prettier --check --write

fix: 💚 Fixing commit message conflict with linter.
  .releaserc.json
Due: prettier --check --write

chore(release): :bookmark: 1.1.0 [skip ci].
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0d89140389be6a5d35c790e2e6bbb08c78f54278
Due: none

chore: :memo: Updating README.
  README.md
Due: none

fix: :green_heart: Adding npm support to update package version.
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: :pushpin: Pined npm to specific versions.
  pnpm-lock.yaml
Due: none

chore(release): :bookmark: 1.1.1 [skip ci].
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  8f77745df55a45b0954fed8c1a86e1f7011e67c3
Due: none

chore: :heavy_minus_sign: remove testing-library-jsdom in favour of vitest-dom.
  package.json
  pnpm-lock.yaml
  src/vitest.setup.ts
  tsconfig.json
Due: prettier --check --write, eslint --fix

chore: :arrow_up: Upgrading vitest linter to support recommended settings.
  .eslintrc.json
  package.json
Due: prettier --check --write

feat: :heavy_plus_sign: Adding vitest preview for DI/DX.
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/vitest.setup.ts
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :arrow_up: General dependencies upgrade.
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

chore(release): :bookmark: 1.2.0 [skip ci].
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  f5cb91f6e77527088d26c21814f9690368a4846e
Due: none

chore: :truck: Removing json extensions and updating prettier parser options.
  .eslintrc
  .lintstagedrc
  .prettierrc
  .releaserc
Due: none

chore: :wrench: Updating Typescript compiling options.
  src/environment.d.ts
  tsconfig.json
Due: prettier --check --write, eslint --fix

chore: :art: Prettifying code.
  src/application/utils/test-utils.tsx
  src/presentation/components/ErrorBox/ErrorBox.test.tsx
  src/presentation/components/ErrorBox/ErrorBox.tsx
  src/presentation/components/Spinner/Spiner.test.tsx
  src/presentation/components/Spinner/Spinner.tsx
Due: prettier --check --write, eslint --fix

fix: :wrench: Fixing trailing/dangling comma conflict between prettier and eslint.
  .eslintrc
  .prettierrc
Due: none

chore: :memo: Updating README and editorconfig file.
  .editorconfig
  README.md
Due: none

chore(release): :bookmark: 1.2.1 [skip ci].
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  cdacf8533d9cd735bc3cc92045d31a85f37fc5ca
Due: none

chore: :arrow_up: Upgrading dependencies.
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

chore: :arrow_up: Updating packages and affected modules.
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/main.tsx
  src/presentation/router.ts
  src/vitest.setup.ts
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :arrow_up: Updating vite related packages and configuration.
  .eslintrc
  package.json
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :arrow_up: Updating testing related libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Updating linting related libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Updating Tanstack libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Updating form related libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Update types libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Updating semantic libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Updating MSW library.
  package.json
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix
