Repository SalahAdDin/react-ts-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix, stylelint --aei --color

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --write", "eslint --fix"],
  "*.css": ["prettier --check --write", "stylelint --aei --color"],
  "*.json": ["prettier --check --write"]
}

chore: :arrow_up: upgrade dev dependencies
  tailwind.config.cjs
  tailwind.config.ts
  tsconfig.json
Due: prettier --check --write, eslint --fix

chore: :arrow_up: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :wrench: add html support for prettier
  .prettierrc
  index.html
Due: none

chore: :memo: moving installation step to the very beginning
  README.md
Due: none

chore: :wrench: updating playwright configuration file
  playwright.config.ts
Due: prettier --check --write, eslint --fix

chore: :white_check_mark: adding tests for components
  src/presentation/components/ErrorBox/ErrorBox.test.tsx
  src/presentation/components/ErrorBox/ErrorBox.tsx
  src/presentation/components/Spinner/Spiner.test.tsx
  src/presentation/components/Spinner/Spinner.tsx
Due: prettier --check --write, eslint --fix

chore: :wrench: ignoring config files and tests folders
  vite.config.mts
Due: none

chore: :wrench: cleaning test utils
  src/application/utils/test-utils.tsx
Due: prettier --check --write, eslint --fix

chore: :wrench: updating test scripts
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

fix: :wrench: remove ui from test coverage
  package.json
Due: prettier --check --write

chore(release): :bookmark: 1.2.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  acce277d55df287decd05658a7fd8d64c90d339a
Due: none

chore: :flashlight: update eslint for following typescript guidelines
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/environment.d.ts
  src/infrastructure/api/service.ts
  src/presentation/components/Spinner/Spiner.test.tsx
  src/vite-env.d.ts
Due: prettier --check --write, eslint --fix

fix: :wrench: increase commit footer length
  commitlint.config.cts
Due: none

chore(release): :bookmark: 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  9a78301d0fc69186d856f87c65268f04c05abf2a
Due: none

chore: :flashlight: update eslint to 9 with new config
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --check --write, eslint --fix

chore: :arrow_down: remove old typescript eslint packages
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update eslint to 9
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :heavy_plus_sign: adding stylistic eslint plugin
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update eslint vitest plugin
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: :wrench: update estlin configuration for the latest vitest plugin v
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/presentation/components/ErrorBox/ErrorBox.test.tsx
  src/presentation/components/Spinner/Spiner.test.tsx
Due: prettier --check --write, eslint --fix

chore(release): :bookmark: 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  d13abb6d6351d5c6354e23e07d7ccb8e520a81dc
Due: none

chore: :fire: remove old eslint vitest plugin
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :wrench: add new eslint config file to ts config
  tsconfig.json
Due: prettier --check --write

chore: :wrench: migrate eslint configuration to new format
  .eslintignore
  eslint.config.js
  tsconfig.json
Due: prettier --check --write, eslint --fix

chore: :lipstick: linting project with the new configuration
  commitlint.config.cts
  mocks/utils.ts
  src/application/utils/test-utils.tsx
  src/environment.d.ts
  src/main.tsx
  src/presentation/components/ErrorBox/ErrorBox.test.tsx
  src/presentation/components/Spinner/Spiner.test.tsx
Due: prettier --check --write, eslint --fix

chore: :lipstick: adding ; to postcss configuration file
  postcss.config.cjs
Due: none

chore: :lipstick: linting project with the new configuration
  commitlint.config.cts
  mocks/utils.ts
  pnpm-lock.yaml
  src/environment.d.ts
Due: prettier --check --write, eslint --fix

chore: :wrench: update configuration
  .env
  .nvmrc
  tsconfig.json
  vite.config.mts
Due: prettier --check --write

chore: :wrench: update main file
  src/main.tsx
Due: prettier --check --write, eslint --fix

chore: :memo: update router example
  src/presentation/router.ts
Due: prettier --check --write, eslint --fix

chore: :wrench: updated vite related libraries
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --check --write, eslint --fix

refactor: :wrench: migrate ESLint config to version 9
  .eslintignore
  .eslintrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
Due: prettier --check --write, eslint --fix

fix: :rotating_light: Fixes for ESLint 9
  mocks/handlers.ts
  mocks/utils.ts
  playwright.config.ts
  src/application/provider.tsx
  src/main.tsx
  src/presentation/App.tsx
  src/presentation/components/Layout.tsx
  src/presentation/components/Spinner/Spiner.test.tsx
  src/reportWebVitals.ts
  tests/App.e2e.test.ts
Due: prettier --check --write, eslint --fix

fix: :wrench: update deprecated rules and fix import-x configuration
  eslint.config.js
Due: prettier --check --write, eslint --fix

fix: :rotating_light: remove disable linter and use env variables by index
  public/mockServiceWorker.js
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :arrow_up: update ESLint dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write
