Repository SalahAdDin/react-ts-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix, stylelint --aei --color

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --write", "eslint --fix"],
  "*.css": ["prettier --check --write", "stylelint --aei --color"],
  "*.json": ["prettier --check --write"]
}

fix: :wrench: Fixing prettier and eslint configuration.
  .eslintrc.json
  .lintstagedrc.json
  package.json
  tsconfig.json
Due: prettier --check --write

build: :wrench: Updating git hooks.
  .husky/commit-msg
  .husky/pre-push
Due: none

build: :heavy_plus_sign: Adding conventional changelog commit for auto.
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

0.2.0
  package.json
Due: prettier --check --write

build: :hammer: Setting Angular as changelog preset.
  CHANGELOG.md
  package.json
Due: prettier --check --write

0.2.1
  package.json
Due: prettier --check --write

fix: :bug: Updating commintlint package to enable cts files.
  commitlint.config.cts
  package.json
Due: prettier --check --write

0.2.2
  package.json
Due: prettier --check --write

feat: :construction_worker: Adding mock service based on fakerjs.
  mocks/service.ts
  package.json
Due: prettier --check --write, eslint --fix

chore: :wastebasket: Commenting and cleaning code as documentation.
  mocks/browser.ts
  mocks/handlers.ts
  mocks/server.ts
Due: prettier --check --write, eslint --fix

chore: :toolbox: Adding some utils for testing.
  src/application/test-utils.tsx
Due: prettier --check --write, eslint --fix

feat: :test_tube: Adding initial e2e test to assigned folder.
  tests/App.e2e.test.ts
Due: prettier --check --write, eslint --fix

chore: :wrench: Adding testing folders to typescript include.
  tsconfig.json
Due: prettier --check --write

chore: :heavy_plus_sign: Adding jest-dom and linters for playwright.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: :wrench: Eslint now apply different lints based on tests types.
  .eslintignore
  .eslintrc.json
Due: prettier --check --write

chore: :see_no_evil: Updating ignore file.
  .gitignore
Due: none

feat: :wrench: Loading url related values from env file.
  package.json
  playwright.config.ts
  vite.config.ts
Due: prettier --check --write, eslint --fix

0.3.0
  package.json
Due: prettier --check --write

fix: :wrench: Adding missing .env file and type definition.
  .env
  src/vite-env.d.ts
Due: prettier --check --write, eslint --fix

feat: :postbox: Adding endpoint and service examples.
  src/infrastructure/api/endpoint.ts
  src/infrastructure/api/service.ts
Due: prettier --check --write, eslint --fix

chore: :wastebasket: Cleaning api folder.
  src/infrastructure/api.ts
  src/infrastructure/api/client.ts
Due: prettier --check --write, eslint --fix

chore: :heavy_minus_sign: Removing nanoid(crypto have randomUUID).
  package.json
Due: prettier --check --write

fix: :wrench: Settling the correct prettier javascript parser.
  .prettierrc.json
Due: prettier --check --write

feat: :bug: Fixing eslint and prettier conflicts.
  .eslintrc.json
  .prettierrc.json
Due: prettier --check --write

fix: :bug: Fixing code style on main file.
  src/main.tsx
Due: prettier --check --write, eslint --fix

chore: :bricks: Improving routing.
  src/presentation/App.tsx
  src/presentation/router.ts
Due: prettier --check --write, eslint --fix

fix: :building_construction: Adding missing report vitals instance to main.
  src/main.tsx
Due: prettier --check --write, eslint --fix

chore: :lipstick: Formatting configuration files.
  public/mockServiceWorker.js
  tailwind.config.cjs
Due: prettier --check --write, eslint --fix

feat: :hammer: Updating scripts for testing.
  package.json
Due: prettier --check --write

chore: :arrow_up: Updating all dependencies.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: :lipstick: Adding utils basic components.
  src/application/utils/test-utils.tsx
  src/presentation/components/ErrorBox/ErrorBox.test.tsx
  src/presentation/components/ErrorBox/ErrorBox.tsx
  src/presentation/components/Spinner/Spiner.test.tsx
  src/presentation/components/Spinner/Spinner.tsx
Due: prettier --check --write, eslint --fix

chore: :lipstick: Formatting components.
  src/application/context.tsx
  src/application/provider.tsx
  src/presentation/App.tsx
  src/presentation/components/Layout.tsx
  src/vitest.setup.ts
Due: prettier --check --write, eslint --fix

chore: :wrench: Fixing rule about named components.
  .eslintrc.json
Due: prettier --check --write

chore: :fire: Remove non-required files.
  .yarnrc.yml
  src/presentation/components/LoadingWidget.tsx
Due: prettier --check --write, eslint --fix

chore: :memo: Updating readme file.
  README.md
Due: none

1.0.0
  package.json
Due: prettier --check --write

chore: :memo: Updating changelog.
  CHANGELOG.md
Due: none

fix: :bug: Fixing multiple bugs related to testing.
  package.json
  src/vitest.setup.ts
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :memo: Updating README file.
  README.md
Due: none

1.0.1
  package.json
Due: prettier --check --write
