Repository SalahAdDin/react-ts-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix, stylelint --aei --color

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --write", "eslint --fix"],
  "*.css": ["prettier --check --write", "stylelint --aei --color"],
  "*.json": ["prettier --check --write"]
}

chore: :arrow_up: update Vite dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update semantic release and commitlint dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update react query dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update react hook form dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update git hooks dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update tests dependencies
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

chore: :arrow_up: migrate to tailwind 4
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/index.css
  src/presentation/App.tsx
  tailwind.config.ts
  vite.config.ts
Due: prettier --check --write, eslint --fix, stylelint --aei --color

chore: :arrow_up: update ESLint dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update prettier dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update typescript dependencies
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

chore: :arrow_up: update testing-library dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: update axios and web-vitals dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: :arrow_up: update upload-artifact to v4
  .github/workflows/playwright.yml
Due: none

fix: :test_tube: App e2e tests fails and disable sonarjs rule
  tests/App.e2e.test.ts
Due: prettier --check --write, eslint --fix
