Repository SalahAdDin/react-ts-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix, stylelint --aei --color

chore: :arrow_up: Updating missing libraries.
  package.json
Due: prettier --check --write

chore: :arrow_up: Adding dependencies lock file.
  pnpm-lock.yaml
Due: none

chore: :heavy_plus_sign: Adding million and valibot.
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :heavy_plus_sign: Replacing prettier sort plugin.
  .prettierrc
  package.json
Due: prettier --check --write

chore: :arrow_up: Adding dependencies lock file.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: Update package manager key.
  package.json
Due: prettier --check --write

chore: :construction_worker: Updating Github Actions pnpm version.
  .github/workflows/release.yml
Due: none

chore: :heavy_minus_sign: Removing unrequired key.
  package.json
Due: prettier --check --write

chore: :construction_worker: Updating Github Actions node version.
  .github/workflows/playwright.yml
Due: none

chore: :construction_worker: Making Playwright working on Actions.
  .github/workflows/playwright.yml
Due: none

chore: :arrow_up: Updating missing libraries.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

fix: :construction_worker: Fixing action command on pnpm.
  .github/workflows/playwright.yml
Due: none

chore(release): :bookmark: 1.2.2 [skip ci].
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  e7df080fcf03563ef12ed830826490651969243c
Due: none

fix: :construction_worker: Fixing action command on second pnpm.
  .github/workflows/playwright.yml
Due: none

chore(release): :bookmark: 1.2.3 [skip ci].
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  774c6175c4cfaab4232bec26fcdb4f018fb6808b
Due: none

chore: :construction_worker: Adding traces and no tests to e2e action.
  .github/workflows/playwright.yml
Due: none

feat: fixing config.
  .eslintrc
  src/vitest.setup.ts
Due: prettier --check --write, eslint --fix

chore: :arrow_up: Migrating MSW setup to 2 version.
  mocks/browser.ts
  mocks/handlers.ts
  public/mockServiceWorker.js
  src/main.tsx
Due: prettier --check --write, eslint --fix

chore: :arrow_up: Updating all dependencies.
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

chore: :wrench: Updating configuration files.
  .env
  .eslintrc
  .gitignore
  .prettierrc
  tsconfig.json
  vite.config.ts
Due: prettier --check --write, eslint --fix

chore: :adhesive_bandage: Fixing import and types on router and context.
  src/application/context.tsx
  src/presentation/router.ts
Due: prettier --check --write, eslint --fix

chore: :memo: Updating README.
  README.md
Due: none

chore: :arrow_up: updating non eslint libraries.
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Due: prettier --check --write, eslint --fix

chore: :arrow_up: updating million.
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: updating eslint.
  .eslintrc
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore: :arrow_up: updating playwright and updating vitals scripts.
  package.json
  pnpm-lock.yaml
  src/reportWebVitals.ts
Due: prettier --check --write, eslint --fix

fix: updating commitlint rules
  commitlint.config.cts
Due: none

chore: updating node version and fixing git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .nvmrc
Due: none

chore: updating node version for release action
  .github/workflows/release.yml
Due: none

fix: removing full stop from release commit
  .releaserc
Due: none

chore(release): :bookmark: 1.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  f807e5504e5c33864132b831702b91e62e5667f0
Due: none

fix: :fire: removing deprecated husky command
  package.json
Due: prettier --check --write

chore(release): :bookmark: 1.2.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  9bf27f0d958145a7f6535f4dc37cb5c1050f7e98
Due: none

chore: :wrench: updating vitest config
  tsconfig.json
  tsconfig.node.json
  vite.config.mts
Due: prettier --check --write

Path conditions:
  prettier --check --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --aei --color: any of: *.css
